@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/GilroyRegular.woff);
    font-style: normal;
    font-weight:400;
}
@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/GilroyMedium.woff);
    font-style: normal;
    font-weight:500;
}
@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/GilroySemiBold.woff);
    font-style: normal;
    font-weight:600;
}
@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy/GilroyBold.woff);
    font-style: normal;
    font-weight:700
}