.partners {
    padding-top: 70px;
    padding-bottom: 77px;

    .wr {
        max-width: 980px;
    }

    .block__title {
        margin-bottom: 108px;
    }
}

.partners__slider {
    margin-bottom: 66px;

    .slider__item_wr {
        height: 100%;
    }

    .slider__item {
        max-width: 192px;
        max-height: 108px;
        margin: 0 auto;
    }

    &.slick-slider .slick-track, 
    &.slick-slider .slick-list {
        display: flex;
        align-items: center;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        li {
            height: 5px;	
            width: 5px;	
            background-color: #D6D6D6;
            border-radius: 50%;
            margin: 0 5px;

            &.slick-active {
                height: 13px;	
                width: 13px;	
                background-color: #013BD6;
            }
        }
        button {
            color: transparent;
        }
    }
}

.partners__cities {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.partners__list_wr {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .partners__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 13px;
        padding-right: 89px;
        border-left: 1px solid #E4E4E4;

        &:last-child {
            padding-right: 0;
        }
    }

    .partners__item {
        display: flex;
        color: #6D6E70;
        font-weight: bold;
        
        span {
            display: block;
            
            &:first-letter {
                color: #F00E4B;
            }
        }
    }
}