<div class="about">
    <div class="wr">
        <div class="about__content">
            <h2 class="block__title">Про PISA</h2>
            <div class="about__list">
                <div class="about__item">
                    <span class="about__number">2000 р. </span>
                    <span class="about__description">проведено перше дослідження </span>
                </div>
                <div class="about__item">
                    <span class="about__number">80+</span>
                    <span class="about__description">країн у світі беруть участь</span>
                </div>
                <div class="about__item">
                    <span class="about__number">80%</span>
                    <span class="about__description">світової економіки представляють усі країни-учасниці</span>
                </div>
                <div class="about__item">
                    <span class="about__number">15 рокiв</span>
                    <span class="about__description">вік школярів-учасників PISA</span>
                </div>
            </div>

            <div class="about__link_wr">
                <a href="#" class="about__link">Дiзнатися бiльше про дослідження</a>
            </div>
                
        </div>
    </div>
</div>