<div class="banner">
    <div class="wr">
        <div class="banner__content">
            <div class="banner__main">
                <h2 class="banner__text">
                    <span> Дослідження якості освіти PISA — точка відліку школи, що готує до реального
                        життя</span></h2>
                <div class="banner__img">
                    <img src="img/Illustration/main.svg" alt="banner image">
                </div>
            </div>

            <div class="banner__button">
                <a href="#about" class="banner__link">- Детальнiше</a>
            </div>
        </div>
    </div>
</div>