<div class="contacts">
    <div class="wr">
        <div class="contacts__content">
            <h2 class="block__title">Контакти</h2>

            <div class="contacts__block">
                <div class="contacts__info">
                    <a href="https://goo.gl/maps/tXeKD96znp4Upq9t7" class="contacts__address" target="_blank">вулиця
                        Володимира
                        Винниченка, 5, Київ, 04053</a>

                    <a href="mailto:pisa.ukraine@gmail.com" class="contact__email">pisa.ukraine@gmail.com</a>
                </div>

                <form class="contacts__form">
                    <div class="inputs">
                        <input type="text" class="input" required placeholder="Ваше ім'я">
                        <input type="email" class="input" required placeholder="Ваш email">
                    </div>

                    <input type="text" class="input" placeholder="Ваш email">
                    <textarea class='textarea' placeholder="Повідомлення"></textarea>
                    <input type="submit" class="btn btn_1" value="Вiдправити">
                </form>
            </div>
        </div>
    </div>
</div>