<div class="graph">
    <div class="wr">
        <div class="graph__content">
            <p class="block__text">
                <span>Programme for International Student Assessment (PISA) — це міжнародне дослідження якості освіти,
                    започатковане Організацією економічного співробітництва та розвитку (OECD). Відбувається раз на 3
                    роки.
                </span>
            </p>

            <div class="graph__block">
                <p class="graph__text">PISA оцінює <span class="blue_bg"> 3 види грамотності:</span> </p>

                <div class="graph_list">
                    <p class="graph__item read "><span class="blue_bg">Читацьку</span></p>
                    <p class="graph__item math "><span class=" blue_bg">Математичну</span></p>
                    <p class="graph__item science"><span class=" blue_bg">Природничо-наукову</span></p>
                </div>
            </div>

            <p class="block__text">
                <span>PISA — потужний рушій реформ, що надає доказові дані про якість освіти. Вони допомагають урядам в усьому світі ефективно використовувати бюджет і змінювати освітні політики там, де це найбільше потрібно.
                </span>
            </p>
        </div>
    </div>
</div>