<header class="header">
    <div class="wr">
        <div class="header__content">
            <a href="index.html" class="logo"></a>
            <div class="header__links_wr">
                <ul class="header__nav">
                    <li class="header_link"><a href="#">Чому PISA?</a></li>
                    <li class="header_link header_link--with-sub "><a href="#">Корисні матеріали</a>
                        <ul class="header__sublist">
                            <li class="header__sublink"><a href="#">Нормативні документи</a></li>
                            <li class="header__sublink"><a href="#">Рамкові документи</a></li>
                            <li class="header__sublink"><a href="#">Презентації</a></li>
                            <li class="header__sublink"><a href="#">Публікації</a></li>
                            <li class="header__sublink"><a href="#">PISA: в центрі уваги</a></li>
                        </ul>
                    </li>
                    <li class="header_link"><a href="#">Популярні запитання</a></li>
                    <li class="header_link"><a href="blog.html">Блог</a></li>
                </ul>
                <a href="#" class="btn btn_1">Виконати завдання PISA</a>
            </div>

            <div class="header__menu_btn">
                <span class="active"></span>
                <span class="active"></span>
            </div>
        </div>
    </div>

    <div class="header__menu">
        <ul class="header__nav">
            <li class="header_link"><a href="#">Чому PISA?</a></li>
            <li class="header_link header_link--with-sub "><a href="#">Корисні матеріали</a>
                <ul class="header__sublist">
                    <li class="header__sublink"><a href="#">Нормативні документи</a></li>
                    <li class="header__sublink"><a href="#">Рамкові документи</a></li>
                    <li class="header__sublink"><a href="#">Презентації</a></li>
                    <li class="header__sublink"><a href="#">Публікації</a></li>
                    <li class="header__sublink"><a href="#">PISA: в центрі уваги</a></li>
                </ul>
            </li>
            <li class="header_link"><a href="#">Популярні запитання</a></li>
            <li class="header_link"><a href="blog.html">Блог</a></li>
        </ul>
    </div>
</header>