<header class="header">
    <div class="wr">
        <div class="header__content">
            <a href="index.html" class="logo"></a>
            <div class="header__links_wr">
                <ul class="header__nav">
                    <li class="header_link"><a href="#">Чому PISA?</a></li>
                    <li class="header_link"><a href="#">Корисні матеріали</a></li>
                    <li class="header_link"><a href="#">Популярні запитання</a></li>
                    <li class="header_link"><a href="#">Блог</a></li>
                </ul>
                <a href="#" class="btn btn_1">Виконати завдання PISA</a>
            </div>
        </div>
    </div>
</header>