<div class="partners">
    <div class="wr">
        <div class="partners__content">
            <h2 class="block__title">Партнери</h2>

            <div class="partners__slider">
                <div class="slider__item_wr">
                    <div class="slider__item">
                        <img src="img/logo png/logo1.png" alt="Logo">
                    </div>
                </div>
                <div class="slider__item_wr">
                    <div class="slider__item">
                        <img src="img/logo png/logo2.png" alt="Logo">
                    </div>
                </div>
                <div class="slider__item_wr">
                    <div class="slider__item">
                        <img src="img/logo png/logo3.png" alt="Logo">
                    </div>
                </div>
                <div class="slider__item_wr">
                    <div class="slider__item">
                        <img src="img/logo png/logo4.png" alt="Logo">
                    </div>
                </div>
                <div class="slider__item_wr">
                    <div class="slider__item">
                        <img src="img/logo png/logo5.png" alt="Logo">
                    </div>
                </div>
                <div class="slider__item_wr">
                    <div class="slider__item">
                        <img src="img/logo png/logo3.png" alt="Logo">
                    </div>
                </div>
                <div class="slider__item_wr">
                    <div class="slider__item">
                        <img src="img/logo png/logo1.png" alt="Logo">
                    </div>
                </div>
                <div class="slider__item_wr">
                    <div class="slider__item">
                        <img src="img/logo png/logo5.png" alt="Logo">
                    </div>
                </div>
                <div class="slider__item_wr">
                    <div class="slider__item">
                        <img src="img/logo png/logo3.png" alt="Logo">
                    </div>
                </div>
            </div>

            <div class="partners__cities">
                <div class="partners__img">
                    <img src="img/logo png/logo5.png" alt="Logo">
                </div>

                <div class="partners__list_wr">
                    <ul class="partners__list">
                        <li class="partners__item"><span>Вінницький</span></li>
                        <li class="partners__item"><span>Дніпропетровський</span></li>
                        <li class="partners__item"><span>Донецький</span></li>
                    </ul>
                    <ul class="partners__list">
                        <li class="partners__item"><span>Івано</span>-<span>Франківський</span></li>
                        <li class="partners__item"><span>Київський</span></li>
                        <li class="partners__item"><span>Львівський</span></li>
                    </ul>
                    <ul class="partners__list">
                        <li class="partners__item"><span>Одеський</span></li>
                        <li class="partners__item"><span>Харківський</span></li>
                        <li class="partners__item"><span>Херсонський</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>