<div class="subscribe">
    <div class="wr">
        <div class="subscribe__content">

            <div class="subscribe__round">
                <div class="green_square"></div>
                <div class="blue_round"></div>
                <div class="pink_square"></div>
            </div>

            <div class="subscribe__info">
                <h3 class="subscribe__title">Підписуйтеся на email-розсилку та отримуйте корисні матеріали про PISA:
                </h3>
                <p class="subscribe__subtitle">Статті, інфографіки, актуальні дані та багато іншого</p>

                <form class="form">
                    <input type='email' placeholder="Ваш E-Mail" class="input" required>

                    <input type="submit" class="btn btn_2">
                </form>
            </div>

        </div>
    </div>
</div>